*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin compiler error dumps
.kotlin/

# Ad-hoc build/error logs we never want committed
build_error.txt
*.log
# Added by code-review-graph
.code-review-graph/
